<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity.purchasing.custom">

    <application>
        <activity
            android:name=".ZarinpalActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.BottomSheetTheme"
            />
    </application>
</manifest>
