<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.android.trivialdrivesample">

    <uses-permission android:name="ir.mservices.market.BIND" />

    <queries>
        <package android:name="ir.mservices.market" />
        <intent>
            <action android:name="ir.mservices.market.InAppBillingService.BIND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.unity.purchasing.custom.util.ProxyBillingActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <receiver
            android:name="com.unity.purchasing.custom.util.IABReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="ir.mservices.market.ping" />
                <action android:name="ir.mservices.market.purchase" />
                <action android:name="ir.mservices.market.getPurchase" />
                <action android:name="ir.mservices.market.billingSupport" />
                <action android:name="ir.mservices.market.skuDetail" />
                <action android:name="ir.mservices.market.consume" />
            </intent-filter>
        </receiver>
    </application>

</manifest>